/* IMAGES */

* {
	box-sizing: border-box;
}

html {
	background-color: white;
}

.photo01 {
	width: 300px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	transform: translate(10px, -137px);
}

.photo02 {
	width: 300px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	transform: translate(334px, -804px);
}

.photo00 {
	width: 300px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	transform: translate(668px, -440px);
}


.photo03 {
	width: 300px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	transform: translate(668px, -654px);
}

.photo04 {
	width: 300px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	transform: translate(10px, -1087px);
}

.photo05 {
	width: 300px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	transform: translate(334px, -1509px);
}

.photo06 {
	width: 300px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	transform: translate(10px, -1387px);
}

.photo07 {
	width: 300px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	transform: translate(668px, -1808px);
}

.photo08 {
	width: 300px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	transform: translate(334px, -2227px);
}



body {
	font-family: 'Space Mono', monospace;
	margin: 0;
	padding: 0.5em;
	min-height: 100vh;
	line-height: 1.2;
}


figure {
	margin: 0;
	padding: 0.5em;
	width: calc(25% - 1em);
}

div.a {
	font-size: 20px;
	transform: translate(679px, 122px);
}

div.b {
	font-size: 20px;
	transform: translate(10px, 504px);
}

div.c {
	font-size: 20px;
	transform: translate(661px, 983px);
}
