/* IMAGES */

* {
	box-sizing: border-box;
}

html {
}
body {
	font-family: 'Lemon', cursive;
	font-size: 50px;
	font-weight:lighter;
	margin: 0;
	padding: 0.5em;
	color: #e91e7f;;
	min-height: 100vh;
	line-height: 1.2;
}

h1 {
		position: sticky;
    text-align: right;
    font-size: 50px;
		font-weight: bold;
}

h2 {
		position: sticky;
    text-align: right;
    font-size: 30px;
		font-weight: bold;
}

.container {
  position: relative;
  width: 50%;
}

.image-1 {
  display: block;
  width: 100%;
	height: auto;
	margin-top: -150px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0%;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap;
  font-size: 30px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

</style>
</head>
